/* https://cssgradient.io/ */
header {
    background: linear-gradient(180deg, #000b2e 70%, #00258d 100%);
    z-index: 1;
}

#activePage::after {
    background: #00258d;
}

.homeImage {
    height: 500px;
}

.welkomImage {
    object-fit: cover;
    width: 100%;
}

.img {
    position: absolute;
    width: 100%;
    top: 0;
}

.logoDiv {
    margin: 10px 130px;
    position: fixed;
    z-index: 2;
}

/* IMAGE INFO */
.aircraftContainer {
    margin-top: 20px;
    width: 88%;
}

.aircraftContainerRow {
    position: relative;
    margin-top: 3%;
    left: 3%;
    width: 100%;
}

.aircraftContainerRow2 {
    position: relative;
    margin-top: 3%;
    left: 10%;
    width: 75%;
}

.aircraftContainerRow3 {
    margin-top: 3%;
    position: relative;
    left: 25%;
    width: 50%;
}

.aircraftContainerRow4 {
    margin-top: 3%;
    position: relative;
    left: 38%;
    width: 25%;
}

.card {
    margin-bottom: 30px;
}

/* FOOTER */
.footerLinks ul li a:hover {
    border-bottom: 2px solid #00258d;
}

.comingSoonLinks h4 {
    border-bottom: 4px solid #00258d;
}

.footerLinks h4 {
    border-bottom: 4px solid #00258d;
}

.socialLink a:hover {
    background: #00258d;
}

.socialLink a:hover {
    background: #00258d;
}

.activePage::after {
    width: 17%;
    background: #00258d;
}

.activePage:hover {
    width: 0%;
    background: #00258d;
}

@media(max-width:720px) {

    .activePage::after {
        width: 8%;
    }
}