/* https://cssgradient.io/ */
header {
    background: linear-gradient(180deg, rgba(0, 11, 46, 1) 81%, rgba(219, 235, 0, 1) 100%);
}

.containerMain {
    width: 100%;
    margin: 90px, auto;
    position: relative;
    display: flex;
    justify-content: center;
}

/* FILTER */
.filter {
    width: 30%;
    padding-top: 30px;
}

.filter h1 {
    font-family: "gill-sans-nova-extra-condens", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
}

.filter h1::after {
    content: '';
    display: block;
    width: 60%;
    height: 4px;
    margin: 0 auto;
    margin-top: 0px;
    background: #8300ae;
}

.categories {
    height: 480px;
    padding-top: 10px;
    margin-top: 0px;

    overflow: auto;
}

.filterType {
    font-family: "gill-sans-nova", sans-serif;

    color: white;
    margin: 10px 2px;
    padding: 2px 10px;
    border: 1.3px solid #8300ae;
}

.filterType h2 {
    text-align: center;
}

.filterIcon {
    max-width: 40px;
    padding-top: 3px;
    float: right;
}

/* 
https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css
https://stackoverflow.com/questions/5468766/can-i-apply-a-css-style-to-an-element-name */
input[name="aircraft"],
[name="country"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
}

label {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: "gill-sans-nova", sans-serif;
    color: white;
}

label:hover {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-family: "gill-sans-nova", sans-serif;
    color: #8300ae;
}

label:focus-within {
    color: #8300ae;
    margin-left: 10px;
    font-family: "gill-sans-nova-extra-condens", sans-serif;
    font-weight: 700;
    font-style: normal;
}

label input {
    position: relative;
    margin-right: 10px;
    top: -1px;
}

/* https://blog.logrocket.com/guide-styling-css-scrollbars/ */
.categories::-webkit-scrollbar {
    width: 15px;
}

.categories::-webkit-scrollbar-thumb {
    background: #8300ae;
}

.categories::-webkit-scrollbar-track {
    margin-top: 20px;
    border: 2px solid rgba(130, 0, 174, 0.3);
}

/* CONTAINER AIRCRAFTS */
.ContaineraAircraft {
    width: 85%;
    display: flex;
}

#aircraftContainer {
    height: 520px;
    padding-top: 50px;
    margin-top: 0px;
    margin-bottom: 50px;

    overflow: auto;
}

#aircraftContainer::-webkit-scrollbar {
    width: 15px;
}

#aircraftContainer::-webkit-scrollbar-thumb {
    background: #8300ae;
}

#aircraftContainer::-webkit-scrollbar-track {
    margin-top: 90px;
    border: 2px solid rgba(130, 0, 174, 0.3);
}

.content {
    width: 100%;
    height: 100%;
    margin-left: 10px;
}

.aircraftShortInfo {
    font-family: "gill-sans-nova", sans-serif;
    font-size: 14x;
    margin: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: white;
}

.card {
    margin-top: 40px;
    margin-bottom: 0px;
}

#textareaFooter {
    min-width: 300px;
    max-width: 300px;
}